/src/Casa106.Web/node_modules
/src/Casa106.Web/obj
/.vs/Casa106/copilot-chat
/.vs/Casa106/CopilotIndices
/.vs/Casa106/FileContentIndex
/.vs/CopilotSnapshots
/src/Casa106.Api/bin
/src/Casa106.Api/obj
/src/Casa106.Application/Abstractions
/src/Casa106.Application/bin
/src/Casa106.Application/obj
/src/Casa106.Domain/obj
/src/Casa106.Infrastructure/bin
/src/Casa106.Infrastructure/obj
/src/Casa106.Domain/bin
/.vs/ProjectEvaluation
/.vs/gestorGastos106/v17
/.vs/gestorGastos106/v18
/.vs/Casa106/VSGitHubCopilot
/.vs/gestorGastos106/CopilotIndices
/.vs/gestorGastos106/DesignTimeBuild
/.vs/gestorGastos106/FileContentIndex
/.vs/Casa106/v18
.vs/Casa106/DesignTimeBuild/.dtbcache.v2
.vs/gestorGastos106/copilot-chat/c66a4d26/sessions/a6535bf6-cb4d-4bcf-bfea-470d682be90a
